## Урок 2. Анализ датасета с помощью Pandas

Дополнительные материалы:

https://towardsdatascience.com/regression-using-sklearn-on-kc-housing-dataset-1ac80ca3d6d4

https://www.marcellod.tech/2022/09/14/data-analysis-with-python-project-(ibm-data-science-certification)

In [127]:
import pandas as pd

In [128]:
# https://stackoverflow.com/questions/49188960/how-to-show-all-columns-names-on-a-large-pandas-dataframe
# You can globally set printing options. This will allow you to see all column names & rows when you are doing .head().
# None of the column name will be truncated.
pd.options.display.max_columns = None
pd.options.display.max_rows = None

### Задача 1

#### Скачать файл в уроке kc_house_data.csv и считать данные с помощью pandas

In [129]:
df = pd.read_csv("./kc_house_data.csv")

Описание датасета:

The dataset contains house sale prices for King County, which includes Seattle. It includes home sold between May 2014 and May 2015

Описание столбцов:

**id** :a notation for a house<br>
**date**: Date house was sold (Дата дом был продан)<br>
**price**: Price is prediction target (Цена является прогнозной целью)<br>
**bedrooms**: Number of Bedrooms/House (Количество спален)<br>
**bathrooms**: Number of bathrooms/bedrooms (Количество ванных комнат)<br>
**sqft_living**: square footage of the home (Площадь дома)<br>
**sqft_lot**: square footage of the lot (Площадь дома со двором)<br>
**floors**:Total floors (levels) in house (Общее количество этажей (уровней) в доме)<br>
**waterfront**: House which has a view to a waterfront (Дом с видом на набережную)<br>
**view**: Has been viewed (Вид)<br>
**condition**: How good the condition is Overall (Насколько хорошее состояние в целом)<br>
**grade**: overall grade given to the housing unit, based on King County grading system (общий класс, присвоенный жилищной единице)<br>
**sqft_above**:square footage of house apart from basement (Площадь дома без подвала)<br>
**sqft_basement**: square footage of the basement (Площадь подвала)<br>
**yr_built**: Built Year (Год постройки)<br>
**yr_renovated**:Year when house was renovated (Год, когда дом был отремонтирован)<br>
**zipcode**:zip code (Индекс)<br>
**lat**: Latitude coordinate (Координата широты)<br>
**long**: Longitude coordinate (Координата долготы)<br>
**sqft_living15**: Living room area in 2015 (implies-- some renovations) This might or might not have affected the lotsize area (Площадь гостиной в 2015 году (подразумевает - некоторые ремонты) Это могло повлиять или не повлиять на площадь lotsize)<br>
**sqft_lot15**: lotSize area in 2015 (implies-- some renovations) (Площадь lotSize в 2015 году (подразумевается - некоторые ремонтные работы))<br>
Примечание:<br>
1 (square foot) = 0.09290304 square meters

#### Вывести на экран первые 5 строк

In [130]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [131]:
df.shape

(21613, 21)

If you just want to see the column names you can do:

In [132]:
df.columns.tolist()

['id',
 'date',
 'price',
 'bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long',
 'sqft_living15',
 'sqft_lot15']

In [133]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

### Задача 2

Найдите количество пропущенных ячеек в данных

Calling sum() of the DataFrame returned by isnull() will give a series containing data about count of NaN in each column.

In [134]:
df.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Изучите типы данных

In [135]:
df.describe().apply(lambda x: x.apply('{0:.5f}'.format))

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000,21613.00000
mean,4580301520.86499,540088.14177,3.37084,2.11476,2079.89974,15106.96757,1.49431,0.00754,0.23430,3.40943,7.65687,1788.39069,291.50905,1971.00514,84.40226,98077.93980,47.56005,-122.21390,1986.55249,12768.45565
std,2876565571.31205,367127.19648,0.93006,0.77016,918.44090,41420.51152,0.53999,0.08652,0.76632,0.65074,1.17546,828.09098,442.57504,29.37341,401.67924,53.50503,0.13856,0.14083,685.39130,27304.17963
min,1000102.00000,75000.00000,0.00000,0.00000,290.00000,520.00000,1.00000,0.00000,0.00000,1.00000,1.00000,290.00000,0.00000,1900.00000,0.00000,98001.00000,47.15590,-122.51900,399.00000,651.00000
25%,2123049194.00000,321950.00000,3.00000,1.75000,1427.00000,5040.00000,1.00000,0.00000,0.00000,3.00000,7.00000,1190.00000,0.00000,1951.00000,0.00000,98033.00000,47.47100,-122.32800,1490.00000,5100.00000
50%,3904930410.00000,450000.00000,3.00000,2.25000,1910.00000,7618.00000,1.50000,0.00000,0.00000,3.00000,7.00000,1560.00000,0.00000,1975.00000,0.00000,98065.00000,47.57180,-122.23000,1840.00000,7620.00000
75%,7308900445.00000,645000.00000,4.00000,2.50000,2550.00000,10688.00000,2.00000,0.00000,0.00000,4.00000,8.00000,2210.00000,560.00000,1997.00000,0.00000,98118.00000,47.67800,-122.12500,2360.00000,10083.00000
max,9900000190.00000,7700000.00000,33.00000,8.00000,13540.00000,1651359.00000,3.50000,1.00000,4.00000,5.00000,13.00000,9410.00000,4820.00000,2015.00000,2015.00000,98199.00000,47.77760,-121.31500,6210.00000,871200.00000

In [136]:
df.describe(include="object")

                   date
count             21613
unique              372
top     20140623T000000
freq                142

### Задача 3

В каком диапазоне изменяются стоимости недвижимости?

In [137]:
df.price.min(), df.price.max()

(75000.0, 7700000.0)

Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [138]:
round(df.sqft_living.mean()/df.sqft_lot.mean(), 2)

0.14

Как много домов с разными этажами в данных?

In [139]:
df.floors.value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

In [140]:
len(df.floors.value_counts())

6

Насколько хорошие состояния у домов в данных?

In [141]:
df.condition.value_counts()

3    14031
4     5679
5     1701
2      172
1       30
Name: condition, dtype: int64

In [142]:
df.condition.unique()

array([3, 5, 4, 1, 2], dtype=int64)

Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [143]:
df.yr_built.min(), df.yr_built.max()

(1900, 2015)

### Задача 4

Сколько в среднем стоят дома, у которых 2 спальни?

In [144]:
df[df["bedrooms"] == 2].shape[0]

2760

In [145]:
round(df[df["bedrooms"] == 2].price.mean(), 2)

401372.68

Какая в среднем общая площадь домов, у которых стоимость больше 600 000?

In [146]:
df[df["price"] > 600000].shape[0]

6256

In [147]:
round(df[df["price"] > 600000].sqft_lot.mean(), 3)

20442.525

Как много домов коснулся ремонт?

In [148]:
df.yr_renovated.value_counts()

0       20699
2014       91
2013       37
2003       36
2005       35
2007       35
2000       35
2004       26
1990       25
2006       24
2002       22
2009       22
1989       22
1991       20
1998       19
2001       19
1994       19
1993       19
1987       18
2010       18
2008       18
1983       18
1984       18
1985       17
1999       17
1992       17
1986       17
2015       16
1995       16
1988       15
1996       15
1997       15
2011       13
2012       11
1980       11
1982       11
1979       10
1970        9
1977        8
1968        8
1978        6
1975        6
1973        5
1965        5
1981        5
1964        5
1958        5
1960        4
1972        4
1963        4
1969        4
1976        3
1974        3
1953        3
1955        3
1956        3
1945        3
1957        3
1950        2
1962        2
1940        2
1946        2
1971        2
1967        2
1934        1
1951        1
1959        1
1948        1
1954        1
1944        1
Name: yr_renovated, dtype: int64

In [149]:
df[(~(df["yr_renovated"] == 0))].shape[0]

914

Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [150]:
df[df["grade"] < 4].describe().price

count         4.000000
mean     189750.000000
std       98001.275502
min       75000.000000
25%      125250.000000
50%      202000.000000
75%      266500.000000
max      280000.000000
Name: price, dtype: float64

In [151]:
df[df["grade"] > 10].describe().apply(lambda x: x.apply('{0:.5f}'.format)).price

count        502.00000
mean     1678635.11753
std       919775.99678
min       420000.00000
25%      1075000.00000
50%      1407500.00000
75%      1950000.00000
max      7700000.00000
Name: price, dtype: object

In [152]:
round(df[df["grade"] > 10].price.mean() - df[df["grade"] < 4].price.mean(), 2)

1488885.12

### Задача 5

Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?

In [153]:
df.waterfront.unique()

array([0, 1], dtype=int64)

In [154]:
df.waterfront.value_counts()

0    21450
1      163
Name: waterfront, dtype: int64

In [155]:
df.sqft_basement.value_counts().head(10)

0       13126
600       221
700       218
500       214
800       206
400       184
1000      149
900       144
300       142
200       108
Name: sqft_basement, dtype: int64

In [156]:
df[
    (df["waterfront"] == 1) &
    (df["bathrooms"] >= 3) &
    (df["sqft_basement"] > 0)
].shape[0]

41

Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?

In [157]:
df.view.unique()

array([0, 3, 4, 2, 1], dtype=int64)

In [158]:
df.condition.unique()

array([3, 5, 4, 1, 2], dtype=int64)

In [159]:
df[
    ((df["view"] == 4) | (df["waterfront"] == 1)) &
    (df["condition"] > 3) &
    (df["yr_built"] >= 1980)
].shape[0]

26

In [160]:
df[
    ((df["view"] == 4) | (df["waterfront"] == 1)) &
    (df["condition"] > 3) &
    (df["yr_built"] >= 1980)
].price.min(), df[
    ((df["view"] == 4) | (df["waterfront"] == 1)) &
    (df["condition"] > 3) &
    (df["yr_built"] >= 1980)
].price.max()

(705000.0, 5300000.0)

Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?

In [161]:
round(df[
    (df["sqft_basement"] == 0) &
    (df["floors"] == 2) &
    (df["price"] < 150000)
].condition.mean(), 2)

2.83